.all{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-txt{
    width: 230px;
    font-size: 40px;
    margin: auto;
}

.main-logo{
    margin-bottom: 60px;
}

.main-txt h2{
    margin: 10px 0;
}


.atten-txt{
    text-align: right;
    margin-bottom: 20px;
}

main{
    text-align: center;
}
.loginbox{
    background-color: #d6edf9;
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
}

.loginbox2{
    justify-content: center;
    text-align: center;
}

.login input{
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.login{
    margin-top: 50px;
}

.loginbor{
    margin-top: 40px;
}
.loginclick{
    background-color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.signup{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}