.all{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-txt{
    width: 230px;
    font-size: 40px;
    margin: auto;
}

.main-logo{
    margin-bottom: 30px;
}

.main-txt h2{
    margin: 3px 0;
}


.atten-txt{
    text-align: right;
    margin: 20px;
}

.signbox{
    background-color: #d6edf9;
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;

}

.signbox2{
    justify-content: center;
    text-align: center;
}

.sign input{
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}

.signbor{
    margin: 40px;
}

.signclick{
    background-color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 10px;
}