<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSM CHEAK</title>
    <link rel="stylesheet" href="/stylesheets/mobilemain.css">
</head>
<body>
    <div class="all">
        <div class="main-txt">
            <img width="280" rel="stylesheet" src="images/이재원로고.png">
        </div>

        <main>
            <div class="loginbox">
                <div class="loginbox2">
                    <form method="post" action="/auth/login">
                        <div class="login">
                            <input name="nick" type="text" placeholder="아이디">
                            <input name="password" type="password" placeholder="비밀번호">
                        </div>
                        <div class="loginbor">
                            <input type="submit" class="loginclick" href="mobileloginafter.html" value="로그인">
                        </div>
                    </form>
                </div>
            </div>
            <a class="signup" href="sign">회원가입하러 가기</a>
        </main>
    </div>
</body>
</html>