<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/mobileloginafter.css">
</head>
<body>
    <div class="all">
        <div class="main-txt">
            <img rel="stylesheet" src="images/이재원로고.png">
        </div>

        <main>
            <div class="loginbox">
                <div class="loginbox2">
                    <div class="login">
                        <input type="button" class="teacher" value= '{{name}} 선생님' href="1_team_project_html_css.html">
                    </div>
                    <div class="loginbor">
                        <a type="button" class="mypage" href="/mypage">내 정보</a><br>
                        <!-- <form method="post" action="/auth/logout">
                            <input type="submit" class="logout" value="로그아웃">
                        </form> -->
                        <a class="logout" href="/auth/logout">로그아웃</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>