.all{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-txt{
    width: 230px;
    font-size: 40px;
    margin: auto;
}

.main-logo{
    margin-bottom: 60px;
}

.main-txt h2{
    margin: 10px 0;
}

.atten-txt{
    text-align: right;
}

main{
    background-color: #d6edf9;
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    height: 220px;
    border: none;
    box-shadow: 10px 10px 10px #ccc;
}

.loginbox2{
    justify-content: center;
    text-align: center;
}

.loginbox2 input{
    border: none;
    box-shadow: 4px 4px 4px #ccc;
}

.login input{
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.login{
    margin-top: 50px;
}

.loginbor{
    display: block;
    margin-top: 40px;
}

.teacher{
    color: black;
    width: 180px;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
}

.mypage, .logout{
    display: inline-block;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: none;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    box-shadow: 4px 4px 4px #ccc;
}